*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  cursor: crosshair;
}
/* Body overflow */
body {
  overflow: hidden;
}
/* Scoring */
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
}
.light h1, .light h3{
  color: black;
}
h3{
    color: white;
}
/* Description */
.description{
    position: absolute;
    bottom: 0%;
    left: 50%;
    color: #a7a7a7;
    transform: translate(-50%,-50%);
}
/* Bubble */
.bubble {
  position: absolute;
  display: flex;  
  top: 0;
  left: 0;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: larger;
  transition: linear 1s, transform 0.2s,opacity 1s;
}

.bubble:hover {
  transform: scale(1.7);
}

.bubble--bust {
  transform: scale(1.8);
}