body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.slideshow-container {
  max-width: 100%;
  overflow: hidden;
}

.mySlides {
  display: none;
}

img {
  width: 100%;
  height: 650px;
}

/* Navigation styles (optional) */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.map-container {
  display: flex;
}
.map-elements {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
iframe{
  width:75%;
  display:flex;
  flex:2;
}
.footer-container{
  background-color: lightblue;
}