body {
  margin: 0;
  background-color: floralwhite;
}

h1 {
  font-size: 10vw;
}

.slider-frame {
  overflow: hidden;
  height: 800px;
  width: max-content;
  margin: 20px 0 0 360px;
}

@keyframes slide_animation {
  0%, 10%, 90%, 100% { left: 0; }
  20%, 30% { left: 1900px; }
  40%, 50% { left: 3800px; }
  60%, 70% { left: 1900px; }
  80% { left: 0; }
}

.slide-images {
  width: max-content;
  height: 600px;
  margin: 0 0 0 -2400px;
  position: relative;
  animation: slide_animation 33s infinite alternate;
}

.img-container {
  height: 600px;
  width: max-content;
  position: relative;
  float: left;
}

.map-container, .map-elements {
  display: flex;
}

.map-elements {
  flex: 1;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 75%;
  flex: 2;
}
